* {
  -webkit-appearance: radio;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(18, 22, 28);
  color: rgb(230, 232, 234);
  font-family: Helvetica;
}

div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-left: 1.5rem;
}

input {
  height: 1rem;
  width: 1rem;
  font-size: 0.8rem;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.title {
  margin: 3rem auto;
  text-align: center;
}

.side {
  margin: 1.5rem auto;
}

.parameter {
  padding: 0 1rem;
}

#input-lev {
  width: 2rem;
}

#input-entry {
  width: 3.125rem;
}

#stop-profit {
  color: green;
}

#stop-loss {
  color: red;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    html {
      font-size: 48px;
    }
}
